{
	auto_https off
}

:8000 {
	@npm path /npm /npm/*
	route @npm {
		reverse_proxy spr:7002
	}

	route /api/v1/svc/* {
		reverse_proxy spr:8080
	}

	route /api/v1/admin/* {
		reverse_proxy spr:8080
	}

	route /api/v1/projects/* {
		reverse_proxy spr:8080
	}

	route /* {
		reverse_proxy dashboard-ui:3000
	}
}
